{% extends 'base.html' %}
{% load static %}


{% block content %}
    <section class="h-100">
        <div class="container py-5">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-lg-8 col-xl-6">
                    <div class="card rounded-3 shadow">
                        <img class="card-img-top" src="{% static 'image/addpass.jpeg' %}" alt="Add password image" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;">
                        <div class="card-body p-4">
                            <h3 class="mb-4">Add New Password</h3>

                            {% if messages %}
                                <div class="alert alert-info">
                                    {% for message in messages %}
                                        <p>{{ message }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <form method="POST" action="{% url 'add_password' %}">
                                {% csrf_token %}

                                <!-- Category -->
                                <div class="form-floating mb-4">
                                    <select name="category" id="category" class="form-select" required>
                                        <option selected value="">Select Category</option>
                                        <option value="Social Media">Social Media</option>
                                        <option value="Banking">Banking</option>
                                        <option value="Work">Work</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    <label for="category">Category</label>
                                </div>

                                <!-- Username -->
                                <div class="form-floating mb-4">
                                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" required>
                                    <label for="username">Username</label>
                                </div>

                                <!-- Password -->
                                <div class="input-group mb-4">
                                    <div class="form-floating">
                                        <input type="text" id="password" name="password" class="form-control" placeholder="Enter password" required />
                                        <label for="password">Password</label>
                                    </div>
                                    <button type="button" class="btn btn custom-signin-btn" onclick="generatePassword()">Generate</button>
                                </div>

                                <!-- Application Name -->
                                <div class="form-floating mb-4">
                                    <input type="text" id="application_name" name="application_name"  class="form-control"  placeholder="Application name" required />
                                    <label for="application_name">Application Name</label>
                                </div>

                                <!-- Description Field -->
                                <div class="form-floating mb-4">
                                    <textarea class="form-control" id="description" name="description" rows="4" placeholder="Enter description"></textarea>
                                    <label for="description">Description</label>
                                </div>

                                <!-- Submit Button -->
                                <button type="submit" class="btn btn-lg w-100 custom-create-btn">Submit</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
