{% extends 'base.html' %}
{% load static %}
{% load decrypt_tags %}


{% block content %}
<section class="container">
    <div class="mt-2 mb-4">
        <h3>Manage Your Passwords Securely</h3>
        <hr/>
    </div>

    {% if all_passwords %}
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="text-nowrap">Sno</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                    <th scope="col" class="text-nowrap">Category</th>
                    <th scope="col" class="text-nowrap">Application Name</th>
                    <th scope="col" class="textarea">Details</th>
                    <th scope="col">
                            Last updated
                        </a>
                    </th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            {% for password in all_passwords %}
            <tbody>
                <tr>
                    <td class="text-nowrap">{{ forloop.counter }}</td>
                    <td>{{ password.username }}</td>
                    <td>
                        <div class="input-group">
                            <input class="form-control" type="password" id="password-{{ forloop.counter }}"
                                       value="{{ password.password|decrypt_template_tag }}" disabled readonly>
                            <div class="input-group-append">
                                 <button onclick="toggleView('password-{{ forloop.counter }}')" class="btn btn-sm btn-outline-secondary" type="button">
                                     <i id="icon-password-{{ forloop.counter }}" class="fas fa-eye"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                    <td>{{ password.category }}</td>
                    
                    <td class="text-nowrap">
                        {% if password.application_name %}
                            {{ password.application_name }}
                        {% endif %}
                    </td>
                    <td class="textarea">
                        {% if password.description %}
                            {{ password.description }}
                        {% endif %}
                    </td>
                    <td class="text-nowrap">{{ password.updated_at|date:"Y-m-d H:i:s" }}</td>
                    <td><a href="{% url 'edit_password' password.id %}">Edit</a></td>
                </tr>
            </tbody>
        {% endfor %}
        </table>
    </div>
    {% else %}
    <div class="w-50 mx-auto">
        <img src="{% static 'image/nodata.jpg' %}" alt="No data available">
    </div>
    {% endif %}
</section>

{% endblock %}
